.about__image {
	position: relative;
	height: 90vh;
	/* width: 100%; */
	object-fit: cover;
	margin: auto;
	align-items: center;
}
.about__image img {
	width: 100%;
}

.about {
	display: flex;
	flex-direction: column;
}
