@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

.title {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured__column {
    display: flex;
    margin: auto;
    padding: 10px;
}

#prod {
    color: red;
}

a {
    text-decoration: none;
    font-size: large;
    color: red;
}

.prod__row {
    display: flex;
    /* flex-basis: 35%; */
    transition: transform 0.5s;
}

.prod__row:hover {
    display: flex;
    /* flex-basis: 25%; */
    /*transform: translateY(-15px);*/
}

.prod__row > img {
    width: 100%;
    height: auto;
}
.small-container {
    max-width: 100%;
    margin: auto;
}

.Show__more{
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 8px;
    border: 1px solid #2e8f08;
    font-size: 20px;
}
.Show__more:hover {
    background-color: #2e8f08;
    color: #ffffff;
    border-radius: 8px;
    /* border: 1px solid #ff0000; */
    font-size: 20px;
}