.footer {
	clear: both;
	height: auto;
	width: 100%;
	margin-top: auto;
	position: relative;
	left: 0px;
	right: 0px;
	bottom: 0%;
	text-align: left;
	background-color: #111b1e;
}
.foo-row {
	display: flex;
	align-items: center;
	position: relative;
	top: 32px;
	bottom: 0;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.foo-row h3 {
	color: #f04700;
	font-size: 20px;
	padding-bottom: 4%;
}

.foo-row .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #f04700;
}
.foo-col-1 {
	height: auto;
	flex-basis: 25%;
	/* width: 23%; */
	padding-left: 10%;
	align-items: flex-start;
}
.foo-col-1 > p {
	color: #ffffff;
}
.foo-col-1 > a {
	color: #ffffff;
}
p {
	color: #ffffff;
}
.foo-col-1 img {
	height: auto;
	width: 100%;
	/*padding-bottom: 15%;*/
	/* margin-left: 5%; */
	align-items: flex-start;
}
.foo-col-2 {
	height: auto;
	flex-basis: 25%;
	/* width: 23%; */
	padding-left: 10%;
}
a {
	color: black;
}
.foo-col-3 {
	padding-bottom: 25px;
	flex-basis: 25%;
	padding-left: 10%;
}
.foo-col-4 {
	padding-bottom: 54px;
	flex-basis: 25%;
}
.foo-col-4 > img {
	padding: 0 15px;
}
.foo-row-cr {
	display: flex;
	align-items: center;
	position: relative;
	top: 2px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #111b1e;
}
hr {
	color: #ffffff;
	margin-top: 30px;
}

.foo-row-cr h3 {
	color: rgb(240, 0, 0);
	padding-bottom: 4%;
}

.foo-row-cr .heading_text {
	font-size: 20px;
	font-weight: 500;
	color: #ff0000;
}
.foo-row-cr p {
	color: #ffffff;
	font-weight: 900px;
}

.footer__container {
	position: relative;
	bottom: 0%;
}

.wrapper {
	justify-content: center;
	align-items: center;
}

.wrapper i {
	padding-right: 10px;
	text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
	transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1) {
	color: #3b5998;
}

.wrapper a:nth-child(2) {
	color: #1da1f2;
}

.wrapper a:nth-child(3) {
	color: black;
}

.wrapper i:hover {
	margin-top: -3px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

.fa-instagram {
	color: transparent;
	background: -webkit-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -o-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background: -webkit-radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-clip: text;
	-webkit-background-clip: text;
}
