* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
}

body {
	font-family: "Open Sans", sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.logo {
	width: 16%;
	height: auto;
}

.logo .logo__image {
	padding-top: 10px;
	flex: 1;
	width: 180px;
	/* width: 55%; */
	height: auto;
	/* position: sticky; */
}

.navbar {
	display: flex;
	position: fixed;
	height: 9%;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	top: 0;
	width: 100%;
	margin: auto;
	z-index: 100;
	background-color: #111b1e;
}

nav {
	flex: 1;
	text-align: right;
	padding-left: 10px;
	position: relative;
	margin-top: 9px;
}

nav ul {
	list-style-type: none;
	font-size: 15px;
	padding: 10px 0;
	font-weight: 550px;
}

nav ul li {
	display: inline-table;
	margin-right: 10px;
	color: #fff;
	padding: 0 5px;
}

nav ul li a {
	display: grid;
	font-size: 16px;
	align-items: center;
	text-decoration: none;
	color: #d4d1d1;
}
nav ul li a:hover {
	color: #ffffff;
	text-underline-position: below;
}
nav ul li a:focus {
	color: #ffffff;
}

/*h1, h2, h3, h4, h5 {
    color: #fff;
}*/

p {
	color: #555555;
}

.header__container {
	margin: auto;
	/*padding-bottom: -50px;*/
	background-color: #f1f1f1;
	align-items: center;
	/* height: 9vh; */
}

.header__search {
	display: flex;
	flex: 1.8;
	align-items: center;
	border: #ffffff;
	border: 1;
	/* margin-left: 90px; */
}

.header__searchInput {
	height: 43px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	padding: 10px;
	padding-left: 20px;
	padding-right: 50px;
	width: 100%;
	border-radius: 8px 0 0 8px;
	border: none;
	outline: 0 none;
}

#header__searchIcon {
	padding: 13.3px;
	height: auto;
	width: auto;
	font-size: 17px;
	background-color: #ffffff;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	border: none;
	outline: 0 none;
}

@media (min-width: 48em) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header__searchInput {
		height: 43px;
		font-size: 15px;
		font-family: "Roboto", sans-serif;
		padding: 10px;
		padding-left: 20px;
		padding-right: 30px;
		width: 100%;
		border-radius: 8px 0 0 8px;
		border: none;
		outline: 0 none;
	}

	.header__searchIcon {
		padding: 5px;
		height: 43px !important;
		width: auto !important;
		background-color: #ffffff;
		border-radius: 0 8px 8px 0;
		cursor: pointer;
		border: none;
		outline: 0 none;
	}
	.header .menu-icon {
		display: none;
	}
}
