@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
.hero {
    display: grid;
    background: radial-gradient(#7de1ff, #a2ff6c);
    height: 100vh;
    width: 100vw;
    padding: 50px 0;
    align-content: center;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 8%;
}
#special {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.row {
    display: flex;
    align-items: center;
    position: relative;
    top: 52px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px;
    margin-left: 90px;
    /*margin-right: 10px;*/
}
.row h1 {
    color: #b60505;
    font-weight: 600;
}
#groc {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.row .heading__text {
    font-size: 25px;
    font-weight: 500;
    color: #ff0000;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    height: 500px;
    float: center;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #f0361d;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    transition-duration: 0.5s;
}

.btn:hover {
    display: inline-block;
    background: #ffffff;
    color: #f0361d;
    border: 2px #58bb07 solid;
    padding: 10px 30px;
    /*margin: 30px 0px;*/
    margin-bottom: 40px;
    border-radius: 30px;
}

.row {
    display: flex;
    align-items: center;
    position: relative;
    top: 32px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
